/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
**node_modules
**vendor
/.ssh
/.sync_collections
/.sync_temp
/.sync_ignore
/image_laravel_start_module
/image_laravel_start_module_nginx
/docker-compose.yaml
/my.log
/sync-config.yaml
